<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/appsflyer_data_extraction_rules"
        android:fullBackupContent="@xml/appsflyer_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BYKARFinAssistance">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8492265680889801~9177040101" />

        <activity
            android:name=".WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PreloaderActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AllWishesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WishFormActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AmountChangeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>